:root {
  --border-radius: 6px;
  --color-primary: #0969da;
  --color-navbar: #f6f8fa;
  --color-active: #afb8c133;
  --color-markup-code-block: #afb8c133;
  --color-hover: #92969933;
  --color-purple: #8250df;
  --color-green: #1a7f37;
  --color-green-light: #27c24c;
  --color-grey-light: var(--color-text-light);
}
.ui.label {
  padding: 0.3em 0.5em;
  background: var(--color-light);
  color: var(--color-text-light);
  border-radius: 6px;
}
.ui.blue.label,
.ui.blue.labels .label,
.ui.primary.label,
.ui.primary.labels .label {
  border-color: var(--color-light) !important;
  background-color: #afb8c133 !important;
  border-radius: 6px;
  color: #24292f !important;
}
.ui.blue.button,
.ui.blue.buttons .button,
.ui.primary.button,
.ui.primary.buttons .button {
  background-color: #f6f8fa !important;
  color: #24292f !important;
}
.repo-icon {
  display: inline-block;
  transform: scale(0.75);
  margin-right: -0.05rem !important;
}
.ui.green.buttons .button,
.ui.green.button {
  background-color: #1a7f37;
  color: #fff !important;
  /* border-radius: 2em; */
  padding: 5px 10px;
}
.ui.green.labels .label,
.ui.ui.ui.green.label {
  background-color: #1a7f37;
  color: #fff !important;
  border-radius: 2em;
  padding: 5px 10px;
}
/* "edit" and "reopen" button font color */
.ui.basic.green.buttons .button,
.ui.basic.green.button {
  color: #24292f;
}
.feeds .list ul li.private {
  background: none;
}
.repository.file.list #repo-files-table tbody .svg.octicon-file-directory,
.repository.file.list #repo-files-table tbody .svg.octicon-file-submodule {
  color: #54aeff;
}
.repo-title a {
  color: var(--color-primary) !important;
}
.ui.basic.blue.button,
.ui.basic.blue.buttons .button,
.ui.basic.primary.button,
.ui.basic.primary.buttons .button {
  background-color: #fff !important;
  box-shadow: inset 0 0 0 1px rgba(34, 36, 38, 0.15) !important;
  color: var(--color-text) !important;
}
.ui.basic.blue.button:focus,
.ui.basic.blue.buttons .button:focus,
.ui.basic.primary.button:focus,
.ui.basic.primary.buttons .button:focus {
  box-shadow: inset 0 0 0 0px #808080 !important;
}
.ui.basic.blue.button:hover,
.ui.basic.blue.buttons .button:hover,
.ui.basic.primary.button:hover,
.ui.basic.primary.buttons .button:hover {
  background-color: #fff !important;
}
ui.basic.blue.button:hover,
.ui.basic.blue.buttons .button:hover,
.ui.basic.primary.button:hover,
.ui.basic.primary.buttons .button:hover {
  box-shadow: inset 0 0 0 0px #808080 !important;
}
a:hover,
a.muted:hover,
.ui.breadcrumb a:hover {
  color: none;
}
.ui.basic.labels .label,
.ui.basic.label {
  background-color: #fff;
}
.ui.labeled.button.disabled > .button,
.ui.basic.buttons .button,
.ui.basic.button {
  background-color: #f6f8fa;
}
.ui.blue.button:hover,
.ui.blue.buttons .button:hover,
.ui.primary.button:hover,
.ui.primary.buttons .button:hover {
  background-color: var(--color-hover) !important;
}
.repository .ui.segment.sub-menu .list .item a:hover {
  color: var(--color-text) !important;
}
.repo-buttons .ui.labeled.button > .label:hover {
  color: var(--color-text) !important;
}
.repository.file.list #repo-files-table tr:hover {
  background-color: #f6f8fa !important;
}
.ui .error.header {
  background-color: #cf222e !important;
  color: #fff !important;
}
.ui.red.buttons .button,
.ui.red.button {
  color: #fff !important;
  padding: 8px 10px;
}
.ui.basic.red.buttons .button,
.ui.basic.red.button {
  color: #cf222e !important;
  font-weight: 500;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #f6f8fa transparent !important;
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 6px #808080 !important;
}
.ui.purple.labels .label,
.ui.ui.ui.purple.label {
  background-color: #8250df !important;
}
.repository #clone-panel input {
  background-color: #f6f8fa;
}
.ui.basic.green.buttons .button,
.ui.basic.green.button {
  color: var(--color-text) !important;
}
ul.repo-owner-name-list {
  font-size: 13px;
}
a.ui.label {
  color: #fff !important;
}
.ui .sha.label {
  color: var(--color-text) !important;
  padding: 6px 10px 6px;
}
.ui.basic.green.buttons .button,
.ui.basic.green.button {
  color: #1a7f37 !important;
}
.ui.basic.labels .label,
.ui.basic.label {
  color: var(--color-text) !important;
}

.repository #commits-table td.sha .sha.label.isSigned.isVerified .detail.icon,
.repository #repo-files-table .sha.label.isSigned.isVerified .detail.icon,
.repository #rev-list .sha.label.isSigned.isVerified .detail.icon,
.repository
  .timeline-item.commits-list
  .singular-commit
  .sha.label.isSigned.isVerified
  .detail.icon {
  border-left: 1px solid #1a7f37;
  color: #1a7f37;
}

.repository.view.issue
  .comment-list
  .timeline-item.commits-list
  .singular-commit
  .shabox
  .sha.label.isSigned.isVerified {
  border: 1px solid #1a7f37;
}

.ui.labeled.icon.buttons > .button > .icon,
.ui.labeled.icon.button > .icon {
  border-right: 1px solid var(--color-secondary);
}

.ui.buttons:not(.basic):not(.inverted) > .button:not(.basic):not(.inverted) {
  border-left: 1px solid var(--color-secondary);
}

/* GPG verified msg banner */
.repository .ui.attached.isSigned.isVerified.message .ui.text {
  color: black;
}
.repository .ui.attached.isSigned.isVerified:last-child,
.repository .ui.attached.isSigned.isVerified.bottom {
  border-bottom: 1px solid #21ba45;
}
.repository .ui.attached.isSigned.isVerified.top,
.repository .ui.attached.isSigned.isVerified.message {
  border-top: 1px solid var(--color-secondary);
}
.repository .ui.attached.isSigned.isVerified {
  border-left: 1px solid var(--color-secondary);
  border-right: 1px solid var(--color-secondary);
}
.repository .ui.attached.isSigned.isVerified.message {
  box-shadow: none;
  background-color: #21ba45;
  color: black;
}

/* bg color of commit info box */
.ui .info.segment.top {
  background-color: var(--color-navbar) !important;
}

.repo-icon {
  display: none;
}

/* navbar font size */
.ui.secondary.menu .item {
  font-size: 13px;
}

#navbar .item {
  margin: 0;
  padding: 0.5em;
  font-size: 14px;
  color: black !important;
}

.following.bar #navbar {
  width: 100vw;
  /* default 52px */
  min-height: 40px;
  padding: 0 0.5rem;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 6px var(--color-navbar);
}
::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 0 6px var(--color-text);
}

.following.bar #navbar .brand {
  margin-top: -2px;
}

/* reduce navbar bottom margin */
.ui.ui.ui.container:not(.fluid) {
  margin-bottom: -3px;
}

/* Link color for repo breadcrumbs */
a,
.ui.breadcrumb a {
  color: var(--color-primary) !important;
}

/* color for repo menu bar to overwrite link color */
.ui.tabular.menu .item {
  color: var(--color-text) !important;
  height: fit-content;
}

.repository .ui.segment.sub-menu .list .item a {
  color: var(--color-text) !important;
}

.ui .menu:not(.vertical) .item > .button.compact {
  color: var(--color-text) !important;
}

.ui.labeled.button.disabled > .button,
.ui.basic.buttons .button,
.ui.basic.button {
  color: var(--color-text-light) !important;
}

#manage_topic {
  font-size: 12px;
  color: var(--color-text) !important;
}

.ui.menu .item {
  color: var(--color-text) !important;
}

/* font weight of "danger zone" buttons in "delete repo" */

.ui.label {
  background: rgba(175, 184, 193, 0.2);
}

.comment-header .actions a {
  color: black !important;
}

.ui.dropdown > .text {
  color: black !important;
}

.repository.compare.pull .choose.branch .svg {
  color: black !important;
}

a.muted {
  color: black !important;
}

.repository.file.list #repo-files-table tbody .svg.octicon-file-directory-fill,
.repository.file.list #repo-files-table tbody .svg.octicon-file-submodule {
  color: #54aeff !important;
}

.repository.file.list #repo-files-table td a {
  color: black !important;
}

.ui.negative.buttons .button,
.ui.negative.button {
  background-color: none;
  color: #fff;
}

.ui.green.button {
  padding: 5px 16px;
  line-height: 20px;
}

.ui.green.labels .label,
.ui.ui.ui.green.label {
  padding: 5px 16px;
  line-height: 20px;
}

.ui.tabular.menu .active.item {
  margin-bottom: 2px;
}

.ui.menu .item > .label:not(.floating) {
  padding: 0 6px;
  line-height: 18px;
}

.ui.secondary.pointing.menu .item > .circular.label {
  line-height: 10px;
}

.ui.grey.labels .label,
.ui.ui.ui.grey.label {
  line-height: 10px;
}

/* yes/no dialog buttons for repo archival */
.ui.basic.inverted.buttons .button,
.ui.basic.inverted.button {
  color: #f9fafb !important;
}

// border color of SSH/https cloning buttons (non-focused)
.ui.basic.blue.button,
.ui.basic.blue.buttons .button,
.ui.basic.primary.button,
.ui.basic.primary.buttons .button {
  box-shadow: inset 0 0 0 1px transparent !important;
}

// same for hover
ui.basic.blue.button:hover,
.ui.basic.blue.buttons .button:hover,
.ui.basic.primary.button:hover,
.ui.basic.primary.buttons .button:hover {
  box-shadow: inset 0 0 0 0px transparent !important;
}

// background color of branch name in PRs
.issue.list .branches .branch {
  background-color: #afb8c133;
  border-radius: 6px;
}

// branch display in PRs
.issue.list .branches .branch {
  background-color: #afb8c133;
  border-radius: 6px;
}
.issue.list .branches .truncated-name {
  color: #24292f;
  padding: 2px;
}

// hover
.ui.basic.secondary.buttons .button:hover, .ui.basic.secondary.button:hover {
  background: var(--color-hover) !important;
}

// settings button in org team settings
.ui.teal.labels .label, .ui.ui.ui.teal.label, .ui.teal.button, .ui.teal.buttons .button {
  background: var(--color-green);
  color: #fff !important;
}

.ui.labeled.icon.buttons>.button>.icon, .ui.labeled.icon.button>.icon {
  background: var(--color-green);
}

.ui.teal.labels .label, .ui.ui.ui.teal.label, .ui.teal.button, .ui.teal.buttons .button {
  background: var(--color-green);
  color: #fff !important;
}

// folder icon color for PR diff view
.svg-icon.directory[data-v-0fac5124] {
  color: #54aeff;
}
